<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunejas.sihproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".Utilities.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PatientRegisterActivity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".PatientDashboardActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".DoctorRegisterActivity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".DoctorDashboardActivity" />
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEventActivity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".ChatPage.ChatActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".SingleEventDoctorActivity" />
        <activity
            android:name=".FeaturedDoctorActivity"
            android:theme="@style/AppTheme1" />
        <activity android:name=".FAQActivity"
            android:theme="@style/AppTheme1"></activity>
    </application>

</manifest>